            <div id="page-wrapper" ng-controller="addController">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header">
                    Sign Up
                </h3>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
            <form ng-submit='signup()'>
            <input type="text" class="mdl-textfield__input" ng-model="user.username" placeholder="Username" required/>
            <input type="password" class="mdl-textfield__input" ng-model="user.password" placeholder="Password..." required/>
            <center><button class="mdl-button mdl-js-button mdl-button--primary">
                Sign up
            </button><br>
            <span ng-show="err"><strong>Password must be 8 characters long.</strong></span><br>
            <span ng-show="error"><strong>Username exists</strong></br></span>
          </form>
          Already have an account? <a href='/signin'><strong>Signin</strong>...</a>
          <center>
        </div>
    </div>
</div>

          </div>